language: cpp

 compiler: gcc

 before_script:
   - mkdir build
   - cd build
   - cmake ..

 script: make

 notifications:
   email:
     - joaopapereira@gmail.com
   on_success: change
   on_failure: always
